.cards{
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.card img {
    bottom: 0;
    width: 90%;
    margin-bottom: 2%;
}

.card .botones {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.card .botones a {
    text-decoration: none;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card .botones .boton:hover {
    transition: ease-in-out all 0.5s;
}

.card .botones .boton::after {
    content: '';
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: ease-in-out all 0.5s;
}

.card .botones .boton:hover::after {
    width: 100%;
    transition: ease-in-out all 0.5s;
}

.card .botones .boton:nth-child(1):hover::after {
    background-color: green;
    color: white;
}

.card .botones a:nth-child(2):hover::after {
    background-color: orange;
    color: white;
}

.card .botones a:nth-child(3):hover::after {
    background-color: red;
    color: white;
}

.card .botones .boton:nth-child(1) {
    background-color: green;
    color: white;
}

.card .botones a:nth-child(2) {
    background-color: orange;
    color: white;
}

.card .botones a:nth-child(3) {
    background-color: red;
    color: white;
}